@charset "UTF-8";
body {
  background-color: greenyellow;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin:0;
    padding:0;
    line-height: 150%;
    font-size: 20px;
}
a {
  color:fuchsia
}
h1 {
  color:navy
}
h2 {
  color:red;
}
p {
  color:goldenrod;
  font-size: 17px;
}
img {
  border: 25px solid orange;
}
h3 {
  color:blue
}
h4 {
  color:blueviolet
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:darkred
}
li {
  float:right;
  border-right: 1px solid;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px;
}
li a:hover {
  background-color: yellow
}
.active {
  background-color: brown
}
tr:nth-child(even) {
  background-color: brown;
}
th {
  background-color: beige;
  color: blue;
}
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
tr:hover {
  background-color: green;
}
li a, .dropbtn {
  display: inline-block;
  color: green;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
  background-color: yellowgreen;
}
li.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: brown;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: white;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.figure-row {
  display: flex;
  justify-content: space-between 1px;
}
figcaption {
  color: yellow
}
.wrapper{
  background: #ffffff;
  width:972px;
  margin-left:auto;
  margin-right:auto;
  padding: 20px 40px;
}
